{% extends "/admin/widgets/crud/add/_addForm.twig" %}
{% set controllerName = "admins" %}


{% block topLeftActionBar %}
{% endblock %}

{% block topRightActionBar %}
{% endblock %}

{% block formContent %}
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ "General Info"|trans }}</div>
                </div>
                <div class="panel-body">

                    {% include "admin/widgets/form/_crudInput.twig" with {columnName: name, required : 1} %}

                    {#<div class="form-group">#}
                    {#<label for="{{ instanceName }}_description">{{ "Description"|trans }}</label>#}
                    {#<textarea name="{{ instanceName }}[description]" id="{{ instanceName }}_description" class="form-control" rows="15">{{ instance.description|escape }}</textarea>#}
                    {#</div>#}

                </div>
            </div>

        </div>
    </div>
{% endblock %}