{#

Options :
    - customTitle (req)     : title or field name
    - columnName (req)      : to set field name
    - required (opt)        : if this field is required
    - readOnly (opt)        : if this field is readonly
    - help (opt)            : help text - e.g. "25/12/2013"
    - multiple (opt)        : multiple selection
    - select2 (opt)         : use select2 plugin instead of cs-select

#}
{% set instance = attribute(_context, instanceName) %}
{% set value = (attribute(instance, columnName) is defined ? attribute(instance, columnName) : '') %}
<div class="form-group form-group-default {% if required is defined %}required{% endif %}">
    <label for="{{ instanceName }}_{{ columnName }}">{% if customTitle is defined and customTitle is not empty %}{{ customTitle|capitalize }}{% else %}{{ columnName|capitalize }}{% endif %}</label>
    {% if help is defined and help != "" %}
        <span class="help">{{ help }}</span>
    {% endif %}

    {% if readOnly is not defined %}
        <select name="{{ instanceName }}[{{ columnName }}]" id="{{ instanceName }}_{{ columnName }}" class="form-control {% if select2 is not defined %}cs-select cs-skin-slide{% endif %}" data-init-plugin="{% if select2 is not defined %}cs-select{% else %}select2{% endif %}" {% if multiple is defined %}multiple="multiple"{% endif %}>
            {% for option in options %}
                {% if option.value is iterable %}
                    <optgroup label="{{ option.text }}">
                        {% for opt in option.value %}
                            <option value="{{ opt.value }}" {% if opt.value == value %}selected{% endif %}>{{ opt.text }}</option>
                        {% endfor %}
                    </optgroup>
                {% else %}
                    <option value="{{ option.value }}" {% if option.value == value %}selected{% endif %}>{{ option.text }}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% else %}
        <input type="hidden" name="{{ instanceName }}[{{ columnName }}]" value="{{ value|escape }}" />

        {% set selectedOptionText = '' %}
        {% for option in options %}
            {% if option.value == value %}
                {% set selectedOptionText = option.text %}
            {% endif %}
        {% endfor %}
        <input type="text" class="form-control" readonly="readonly" value="{{ selectedOptionText }}" />
    {% endif %}
</div>