{#

options :
    - columnName (req)      : to set field name
    - customTitle (opt)     : title or field name
    - required (opt)        : if this field is required
    - type (opt)            : available type is text(default), textarea, datepicker, timepicker, password
    - readOnly (opt)        : if this field is readonly

#}
{% if customTitle is not defined or customTitle is empty %}
    {% set customTitle = columnName|capitalize %}
{% endif %}

{% set instance = attribute(_context, instanceName) %}
{% set value = (attribute(instance, columnName) is defined ? attribute(instance, columnName) : '') %}
<div class="form-group form-group-default {% if required is defined %}required{% endif %} {% if type is defined and type == "timepicker" %}bootstrap-timepicker input-group{% endif %}">
    <label for="{{ instanceName }}_{{ columnName }}">{{ customTitle }}</label>
    {% if type is defined and type == "textarea" %}
        <textarea name="{{ instanceName }}[{{ columnName }}]" id="{{ instanceName }}_{{ columnName }}" class="form-control {% if required is defined %}validate[required]{% endif %}" {% if readOnly is defined %}readonly="readonly"{% endif %}>{{ value|escape }}</textarea>
    {% elseif type is defined and type == "password" %}
        <input type="password" name="{{ instanceName }}[{{ columnName }}]" id="{{ instanceName }}_{{ columnName }}" value="{{ value|escape }}" class="form-control {% if required is defined %}validate[required,maxSize[255]]{% endif %}" {% if readOnly is defined %}readonly="readonly"{% endif %}/>
    {% else %}
        <input type="text" name="{{ instanceName }}[{{ columnName }}]" id="{{ instanceName }}_{{ columnName }}" value="{{ value|escape }}" class="form-control {% if required is defined %}validate[required,maxSize[255]]{% endif %} {% if type is defined and type == "datepicker" %}datepicker{%  elseif type is defined and type == "timepicker" %}timepicker{% endif %}" {% if readOnly is defined %}readonly="readonly"{% endif %}/>
    {% endif %}
    {% if type is defined and type == "timepicker" %}
        <span class="input-group-addon">
            <i class="pg-clock"></i>
        </span>
    {% endif %}
</div>