{#

Options :
    - title (req)           : title or field name
    - columnName (req)      : to set field name
    - required (opt)        : if this field is required


#}
{% set instance = attribute(_context, instanceName) %}
{% set value = attribute(instance, columnName) %}
<div class="form-group form-group-default {%  if required is defined %}required{% if %}">
    <div class="checkbox check-primary">
        <input type="checkbox" value="1" name="{{ instanceName }}[{{ columnName }}]" id="{{ instanceName }}_{{ columnName }}" {% if value == 1 %}checked{% endif %} />
        <label for="{{ instanceName }}_{{ columnName }}">{% if title is defined and title is not empty %}{{ title|capitalize }}{% else %}{{ columnName|capitalize }}{% endif %}</label>
    </div>
</div>