{#

Options :
    - customTitle (req)     : title or field name
    - settingName (req)     : to set field name
    - required (opt)        : if this field is required


#}
{% set setting = (attribute(_context, settingName) is defined ? attribute(_context, settingName) : "") %}
<div class="form-group form-group-default {% if required is defined %}required{% endif %}">
    <label for="{{ settingName }}">{% if customTitle is defined and customTitle is not empty %}{{ customTitle|capitalize }}{% else %}{{ setting.description|capitalize }}{% endif %}</label>

    {% if enableEditor is defined %}<div class="summernote-wrapper" style="margin: auto -12px -4px;">{% endif %}
        <textarea name="{{ settingName }}" id="{{ settingName }}" style="height: 100px; resize: vertical; line-height: 20px; margin-top: -1px;" class="form-control {% if required is defined %}validate[required]{% endif %} {% if enableEditor is defined %}summernote{% endif %}">{{ setting.value|escape }}</textarea>
    {% if enableEditor is defined %}</div>{% endif %}
</div>